.todo-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: none;
  box-shadow: 0 0 20px 0px lightgray;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-content: space-between;
}

.todo-item__name {
  margin: 0;
}

.todo-item__buttons {
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: space-between;
  align-items: center;
}

.todo-item_complete {
  background: lightgray;
  text-decoration: line-through;
}