.add-button {
  padding: 4px;
  border: none;
  box-shadow: 0px 0 4px 0px #6e6e6e;
  background: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin-top: 40px;
}

.add-button:hover {
  opacity: 0.7;
}