.add-task {
  min-height: 200px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.add-task__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-task__title {
  margin: 0;
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.add-task__label {
  text-align: left;
}

.add-task__input {
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 8px;
  width: inherit;
  max-width: 100%;
}

.add-task__input:focus-visible {
  outline: 1px solid lightblue;
}

.add-task__submit {
  background: #1e7f9f;
  border: none;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.add-task__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}