@import '/src/components/Main/Main.css';
@import '/src/components/TodoList/TodoList.css';
@import '/src/components/TodoItem/TodoItem.css';
@import '/src/components/DeleteButton/DeleteButton.css';
@import '/src/components/AddButton/AddButton.css';
@import '/src/components/MarkComplete/MarkComplete.css';
@import '/src/components/Modal/Modal.css';
@import '/src/components/AddTaskForm/AddTaskForm.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6b6b6b;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
